<div id="page-container">
<div class="about_us">
  <section class="top_header b_01">
    <div class="title_header" fxFlex fxLayoutAlign="center">
      <h3 class="title_text">About Us</h3>
    </div>
  </section>
  <div class="container">
    <div class="row my_row">
      <div class="col-md-12">
        <div class="logo-text">
          <p class="p-ab">Personalize Music</p>
          <hr>
          <p class="p-ab0">Take it everywhere you go with style</p>
        </div>
        <img class="ig-1" src="../../assets/aboutUs_logo.jpg">
      </div>
    </div>
  </div>
  <div class="container logo-container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <img src="../../assets/Clo7.gif" class="g-img">
      </div>
      <div class="col-md-6">
        <div class="content-right">
          <h3 style="padding-bottom: 20px;"><b>We are Habits</b></h3>
          <p>In Romania’s fast growing retail industry filled with crowded hyper markets, monotonous electronic chains
            and
            absent music outlets, comes an innovative concept store that combines fashion, technology and
            entertainment.
            Habits is Romania’s first exclusive online store for headphones, earphones and personal Audio
            devices
            featuring the world's finest headphones from brands renowned for their sound, design and style.
            Kimberly Gloop started Habits in 2017 after realising that most big retailers had little to no
            understanding of electronic accessories such as headphones or earphones and consumers had little
            understanding or options. And so, it is our commitment to personalize your listening experience as much as
            possible.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container box-container">
    <div class="row box-row" >
      <div class="col-md-4 text-center">
        <div class="box1">
          <h3 class="tit">A Unique Headphone for Everyone</h3>
          <p>We find that each person needs a unique listening experience suited to their personality and so there is a
            right headphone for everyone: from an artist in the studio, a fitness buff, an audiophile, or a business
            traveller.
            We believe in bringing the best music listening devices from around the world to India’s passionate music
            listening population. Be it headphones, earphones, high-resolution music player as well as complementing
            accessories like memory foam ear tips, headphone stands, and more.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box2">
          <h3 class="tit">The World's Finest in Headphones</h3>
          <p>
            t is our mission to feature brands that introduce you to a premium music listening experience. At Headphone
            Zone, you will only find genuine and original products that are backed by their genuine warranties.
            Habits is an authorised retailer for all of its 35+ brands and has recently, in co-operation with
            its partner brands, launched India's first campaign toeducate all our consumers about the risks of
            counterfeit headphones in India. We want you to beware of fakes
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box3">
          <h3 class="tit">Expert Consultation</h3>
          <p>
            It is our aim to help you have the best music listening experience and we are able to facilitate informed
            decisions through our buying guide. We ensure you make the right pick by talking to our in-house experts.
            How we do this is by ensuring that you know what your options are based on how you like your music to
            sound. Some like pronounced lower frequencies while some prefer a flat sound. It's our priority that you're
            having the best music listening experience possible in your budget.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container team-container">
    <div class="row">
      <div class="col-md-6">
        <div class="content-box">
        <h3 class="tit">Meet the Habits Team</h3>
        <p><i>"We're not a music company. But music is at the core of what we do."</i></p>
        <p>We love headphones as much as we love selling them. Through comparisons and personal experiences, we as
          Headphone Experts are the right ones to consult in finding the right pair of headphones, earphones or their
          complementing accessories. Habits operates from Mumbai, Chennai, Bangalore, Hyderabad and Delhi with
          a core team of eleven working out of our Andheri office in Mumbai. Besides this, Habits is supported
          by 25 operational staff across the country.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../assets/team.jpg" class="meet-img">
      </div>
    </div>
  </div>

  <section class="subscribe" fxLayout="column">
    <div class="sub_text" fxLayoutAlign="center">
      <h4>Subscribe</h4>
    </div>
    <div fxLayoutAlign="center">
      <p class="sub_paragraph">Sign up to get the latest on sales, new releases and more …</p>
    </div>
    <form class="example-form" fxLayoutAlign="center">
      <input type="email" placeholder="Enter your email address ...">
      <button mat-raised-button color="primary">Sign Up</button>
    </form>
  </section>
</div>
<app-footer></app-footer>
</div>