.cart-title {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 464px;
    font-size: 24px;
    /* transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1); */
    transition-delay: 0.3s;

}

.cart_img {
    width: 240px;
    height: 240px;
    margin-top: 8px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1410px;
    }
  }

  .cart-container {
    display: flex;
    margin-top: 14vh;
    height: 268px;
    margin-top: 30px;
  }

  p {
      font-size: 24px;
  }

  .summary {
    text-align: center;
    border: 1px solid black;
    position: absolute;
    width: 300px;
    height: 394px;
    top: 341px;
    right: 328px;
  }
  
  .shop-details {
    font-size: 20px;
    text-align: left;
    font-family: Arial;
    letter-spacing: 1px;
  }