<div id="page-container">
<section class="products b_01">
  <app-header-shop></app-header-shop>
  <div class="shop_categ">
    <p>Shop by category</p>
  </div>
  <div class="products_table">
    <div class="first" fxLayout="row">
      <mat-card class="example2-card" id="example2-card">
        <img class="prod_img" mat-card-image src="../../assets/products/earbud.jpg" routerLink="earbud-headphones">
        <div class="headphones_title"><p class="p_headphones">Earbud Headphones</p></div>
      </mat-card>
      <mat-card class="example2-card">
        <img class="prod_img" mat-card-image src="../../assets/products/image1.jpg" routerLink="bluetooth-headphones">
        <div class="headphones_title"><p class="p_headphones">Bluetooth Headphones</p></div>
      </mat-card>
      <mat-card class="example2-card">
        <img class="prod_img" mat-card-image src="../../assets/products/gaming.jpg" routerLink="gaming-headphones">
        <div class="headphones_title"><p class="p_headphones">Gaming Headphones</p></div>
      </mat-card>
      <mat-card class="example2-card">
        <img class="prod_img" mat-card-image src="../../assets/products/fitness.jpg" routerLink="fitness-headphones">
        <div class="headphones_title"><p class="p_headphones">Fitness Headphones</p></div>
      </mat-card>
    </div>
  </div>
</section>
</div>